@{
    ViewBag.Title = "Copntact Us";
    Layout = "_layout";
}

<div class="contact-container">
    <div class="contact-wrapper">
        <div class="contact-header">
            <h1 class="contact-heading">Get In Touch</h1>
            <p class="contact-desc">Reach out to us for any support or donation-related assistance</p>
        </div>
        <div class="general-line">
            <h4>General Line: </h4>
            <p>+603-0000 0000</p>
        </div>
        <div class="email-line">
            <h4>Email: </h4>
            <p>johndoe@example.com</p>
        </div>
    </div>
    <div class="contact-form">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Phone Number">
        <input type="email" placeholder="Email">
        <div class="checkbox-grp">
            <p class="contact-needs">Needs: </p>
            <label>
                <input type="checkbox">monetary donation</input>
            </label>
            <label>
                <input type="checkbox">medical supplies</input>
            </label>
            <label>
                <input type="checkbox">clothing and shelter</input>
            </label>
            <label>
                <input type="checkbox">basic necessities</input>
            </label>
        </div>

    </div>
</div>
