@using Givehub.Models

@{ 
    ViewBag.Title = "Index";
}

<div class="index">
    <div class="intro">
        <h1>Let us build a better community</h1>
        <h2>Introduction</h2>
        <p class="intro-desc">
            In Malaysia, the number of children and families who face difficulties that require monetary support
            and donation of essential items has increased. For instance, it is estimated that there are 64,000 children
            that live in child care institutions and roughly 182,000 refugees registered with UNHCR (United Nations High Commissioner)
            in Malaysia who struggle to meet their basic requirement for daily needs due to limited resources.
        </p>
    </div>
    <div class="orphane-intro">
        <h2>Orphanages</h2>
        <p class="orphane-desc">
            Many of these children are not orphans but come from broken homes; most have at least one living parent, and many
            are placed in care due to poverty or family issues, including low-income families, rather than the death of their
            parents. Despite the existence of charity organizations, many institutions are mostly facing shortages of food, clothing,
            education materials, and financial resources for “orphans” to sustain their daily needs.
        </p>
    </div>
    <div class="elderly-intro">
        <h2>Elderly</h2>
        <p class="elderly-desc">
            Furthermore, the elderly population in Malaysia has been increasing rapidly; over 7% of Malaysians are aged 65 and above.
            Quite a number of senior citizens have been sent to nursing homes or welfare centers due to family issues in which family
            members may be too busy developing their careers and unable to spend time with them. Senior citizens who stay in elderly
            care homes also rely on public donations to provide food, medical supplies, and emotional support.
        </p>
    </div>
    <div class="refugees-intro">
        <h2>Refugees</h2>
        <p class="refugees-desc">
            Moreover, Malaysia's refugees, the majority of whom come from Myanmar and Pakistan, have limited access to formal employment
            since they are not proper Malaysian citizens, causing them to struggle to get independence but heavily rely on community
            donations for survival.
        </p>
    </div>
    <div class="conclusion">
        <h2>Conclusion</h2>
        <p class="conclusion-desc">
            Givehub proposed the development of a donation web application that provides a transparent and user-friendly platform for donors
            to approach and donate to us and for donees to contact us for help, as we will do background research for donees to ensure only
            those in need will receive the donation.
        </p>
    </div>
</div>