<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    @RenderSection("head", false)
    <script src="~/js/app.js"></script>
</head>
<body>
    <header>
        <img src="~/images/logo.png" alt="logo" style="width: 100px; height: 40px;">
        <a href="#" class="header-link">About Us</a>
        <a href="#" class="header-link">Donation</a>
        <a href="#" class="header-link">Contact</a>
        <a href="#" class="login-btn">
            Login
            <span class="material-symbols-outlined">login</span>
        </a>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <a href="#" class="footer-link">About us</a>
        <a href="#" class="footer-link">Donation</a>
        <a href="#" class="footer-link">How to fundraise</a>
        <a href="#" class="footer-link">Contact</a>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.validate.unobtrusive.min.js"></script>
    <script src="js/app.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
